header {
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.log {
    color: red;
}

.date {
    display: flex;
    // text-align: center;
    justify-content: space-around;
}

textarea {
    width: 350px;
    height: 500px;
}